main {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;

  width: min(calc(100vw - 2rem), 30rem);
  margin-inline: auto;
}

app-square {
  border: 1px solid gray;
  aspect-ratio: 1;
}
